{% extends "main.html" %}
{% block title %}{{user.firstName}}{% endblock %}
{% block mainbody %}
<img src="\static\yourentries.png" class="rounded mx-auto d-block img-fluid" width="600 " height="150"> 

    
    {% for user in diaries %}
    
    {% for entry in user.privacy %}
    <br>
    <div class="container p-4 my-4 text-white" style="background-color: gray; width: 70%;">
      {{user.date}}<hr><br>  <h4 style="text-align:justify;">{{user.data}}</h4>

    </div>
   
    {% endfor %}
    {% endfor %}
   

<br><br><br><br><br><br><br><br>
{% endblock %}