{% extends "main.html" %}
{% block title %}{{user.firstName}}{% endblock %}
{% block mainbody %}
<img src="\static\feed.png" class="rounded mx-auto d-block img-fluid" width="600 " height="150"> 

    
    {% for user in diaries %}
    
    {% for entry in user.privacy %}
   
    <br>
    <div class="container rounded p-4 my-4 text-white" style="background-color: gainsboro; width: 70%;">
       <h6 style="color: black;">Posted: </h6> <h5 style="color:red;">{{user.name}}</h5>
      <h7 style="color: black;">{{user.date}}</h7><hr><br>  <h5 style="text-align:justify; color: black;">{{user.data}}</h5>

    </div>
   
    {% endfor %}
    {% endfor %}
   

<br><br><br><br><br><br><br><br>
{% endblock %}