{% extends "main.html" %}
{% block title %}Login{% endblock %}
{% block mainbody %}
<div class="login-form">
  <img src="\static\heading001.png" class="rounded mx-auto d-block img-fluid" width="642" height="153"> 
    <form method="POST">
        <h2 class="text-center">Forgot Password</h2>       
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" required="required" name="email">
        </div>
        <div class="form-group">
            <select class="form-select form-control" aria-label="Default select example" name="question">
                <option selected>Select a security question:</option>
                <option value="1">What is the name of a college you applied to but didn’t attend?</option>
                <option value="2">Where was the destination of your most memorable school field trip?</option>
                <option value="3">What was the name of your first stuffed toy?</option>
                <option value="4">What was the name of the first school you remember attending?</option>
                <option value="5">What was your driving instructor's first name?</option>
              </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Answer" required="required" name="answer">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
               
    </form>
    
</div>
<br><br><br><br>
{% endblock %}